doctype html
script(src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js')
script(src='../public/controllers/events.js')
// TODO

html
  head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Georg Boehm</title>
    <link href="stylesheets/stylesheet.css" type="text/css" rel="stylesheet" />
  body
    h1 Sports
    p Personal best developments for different running distances:
    select#dropdown
        option(value='5k') 5k
        option(value='10k') 10k
        option(value='Half') Half Marathon
        option(value='Full') Full Marathon
    h1
    canvas#myChart
    script.
        dropDownEventHandler()
